body {
  /* background: url('bacon-avocado-salad-small.jpg') no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  color: white;
  font-family: 'Helvetica Neue', Helvetica;
  font-weight: 100;
  font-size: 60px;
  margin: 15px;
}

p {
  color: white;
  font-family: 'Helvetica Neue', Helvetica;
  font-weight: 200;
}

.box {
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  background-color: rgba(0,0,0,0.6);
	padding: 50px;
	width: 40%;
	margin: 130px auto;
	text-align: center;
}

.btn {
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  font-family: 'Helvetica Neue', Helvetica;
  color: #ffffff;
  font-size: 22px;
  font-weight: 200;
  border: none;
  background: #3498db;
  padding: 10px 30px;
  margin: 0 0 5px 0;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  text-decoration: none;
}

.footer {
  width:100%;
  bottom: 0;
  margin: auto;
  text-align: center;
}

p.about {
  color: #efefef;
  font-size: 0.75em;
}
